.burger {
	height: auto;
	width: 600px;
	max-width: 50%;
}

.drool {
	height: auto;
	width: 500px;
	max-width: 50%;
	float: right;
}

.body-burger {
	background-color: lightblue;
}

.body-salad {
	background-color: lightgreen;
}

.body-peach {
	background-color: salmon;
}
